<div class="detail-view clearfix">
	<h1 class="tac ttu">Element name</h1>
	<div class="main-interaction">
		<div class="links">
			<a href="" class="box-link">Information</a>
			<a href="" class="box-link">Graphs</a>
		</div>
		<div class="terrainBox">
			<div class="horizons horizonC">Horizon C</div>
			<div class="horizons horizonB">Horizon B</div>
			<div class="horizons horizonA">Horizon A</div>
			<div class="horizons horizonMap">Overlay map</div>
			<!-- <div class="overlayMapMenuBox" style="display: none;">
				<div class="overMapBtn overMapBtnSel"><span class="icon"></span>None</div>
				<div class="overMapBtn"><span class="icon"></span>Surface geology</div>
				<div class="overMapBtn"><span class="icon"></span>Bedrock geology</div>
				<div class="overMapBtn"><span class="icon"></span>Glacial boundaries</div>
				<div class="overMapBtn"><span class="icon"></span>Precipitation</div>
				<div class="overMapBtn"><span class="icon"></span>Soil orders</div>
				<div class="overMapBtn"><span class="icon"></span>Ecoregions</div>
				<div class="overMapBtn"><span class="icon"></span>Landcover</div>
				<div class="overMapBtn"><span class="icon"></span>Agriculture</div>
			</div> -->
		</div>
		<div class="maps-containter">
			<div class="map-item">
				<img src="img/maps/map1.png" alt="">
			</div>
		</div>
	</div>
</div>