<div class="detail-view clearfix">
	<a href="" ng-click="goBack()" class="backbtn entypo-font">&#59233;</a>
	<h1 class="tac ttu maintitle">{{element.name}}</h1>
	<div class="spacer-5"></div>
	<div class="main-interaction">
		<div class="links">
			<a href="" class="box-link" ng-click="infoIsOpen=true;graphsIsOpen=false">Comments</a>
			<a href="" class="box-link" ng-click="infoIsOpen=false;graphsIsOpen=true">Statistics</a>
			<a href="assets/{{element.kml}}" target="_blank" class="box-link">DOWNLOAD KML <br> <small>(Opens with Google Earth)</small></a>
            <a href="assets/{{element.pdf}}" target="_blank" class="box-link">DOWNLOAD PDF</a>
            <a href="assets/{{element.tiff}}" target="_blank" class="box-link">DOWNLOAD TIFF</a>
		</div>

		<div class="terrainBox">
			<div class="horizons horizonC" ng-click="currentHorizon = 'C'" ng-class="{shown : currentHorizon == 'C'}">Horizon C</div>
			<div class="horizons horizonA" ng-click="currentHorizon = 'A'" ng-class="{shown : currentHorizon == 'A'}">Horizon A</div>

			<div class="horizons top5" ng-hide="isMineral" ng-click="currentHorizon = '5'" ng-class="{shown : currentHorizon == '5'}">Top 5</div>
			<div class="horizons top5 no-hover" ng-show="isMineral">Top 5</div>
			<div class="horizons horizonMap" ng-click="toggleOverlaySelector()">Overlay map</div>

			<div class="overlayMapMenuBox" ng-mouseleave="toggleOverlaySelector()">
				<div class="row collapse" ng-repeat="overlay in overlays" ng-click="toggleOverlays($index)">
					<div class="column small-5">
						<div class="onOffSwitch" >
								<div class="handle" ng-class="{off: overlay.status==false}"></div>
								<div class="text on" ng-class="{shown: overlay.status==true}">ON</div>
								<div class="text off" ng-class="{shown: overlay.status==false}">OFF</div>
						</div>
					</div>
					<div class="column small-7">
						{{overlay.name}}
					</div>
				</div>
			</div>
		</div>

		<div class="maps-containter">
			<div class="map-item map-overlay" ng-class="{shown : overlay.status == true}" class="shown" ng-repeat="overlay in overlays">
				<img ng-src="assets/Overlays/{{overlay.img}}" alt="">
			</div>
			<div class="map-item" ng-class="{shown : linkedOverlay != 'blank.png' }" style="z-index: 19;">
				<img ng-src="assets/Helpers/{{linkedOverlay}}" alt="">
			</div>
			<div class="map-item" ng-class="{shown : currentHorizon == '5'}">
				<img ng-src="assets/{{element.Top5.map}}" alt="">
			</div>
			<div class="map-item" ng-class="{shown : currentHorizon == 'A'}">
				<img ng-src="assets/{{element.A_Horizon.map}}" alt="">
			</div>
			<div class="map-item" ng-class="{shown : currentHorizon == 'C'}">
				<img ng-src="assets/{{element.C_Horizon.map}}" alt="">
			</div>
		</div>

		<div class="info-box" id="information" ng-class="{shown: infoIsOpen}">
      <a href="" ng-click="infoIsOpen = false" class="closeBtn entypo-font">&#10060;</a>
      <div class="img">
      	<img ng-src="assets/{{element.img}}" alt="">
      </div>
      <div class="content"></div>
		</div>

		<div class="info-box" ng-class="{shown: graphsIsOpen}">
      <a href="" ng-click="graphsIsOpen = false" class="closeBtn entypo-font">&#10060;</a>
      <div class="content">
				<h3 class="ttu">Statistics {{currentHorizon}}</h3>
				<table width="100%">
					<tr ng-repeat="row in getCurrentDetails().table">
							<th class="tal">{{row.name}}</th>
							<td>{{row.value}}</td>
					</tr>
					<!-- <tr ng-repeat="row in getCurrentDetails().table | byTowFilter">
							<th>{{row.name}}</th>
							<td>{{row.value}}</td>
							<th>{{getCurrentDetails().table[($index * 2+1)].name}}</th>
							<td>{{getCurrentDetails().table[($index * 2+1)].value}}</td>
					</tr> -->
				</table>
	      <div class="row collapse">
	      	<div class="column large-12 small-12">
	      	<figure ng-repeat="graph in getCurrentDetails().graphs">
						<img ng-src="assets/{{graph.file}}" alt="{{graph.name}}">
						<figcaption>{{graph.name}}</figcaption>
					</figure>
	      	</div>
	      </div>
      </div>
		</div>
	</div>
</div>