<div class="">
	<h1 class="tac maintitle">MINERALOGY</h1>

	<div class="row">
		<div class="column medium-6 large-6">
			<ul class="mineralogy">
				<li><a href="#/detail/mineralogy/901">Quartz</a></li>
				<li><a href="#/detail/mineralogy/902">Total Feldspars</a>
					<ul>
						<li><a href="#/detail/mineralogy/903">Potassium feldspar</a></li>
						<li><a href="#/detail/mineralogy/904">Plagioclase</a></li>
					</ul>
				</li>
				<li><a href="#/detail/mineralogy/905">Total Clays</a>
					<ul>
						<li><a href="#/detail/mineralogy/906">Total 10Å clays</a></li>
						<li><a href="#/detail/mineralogy/907">Total 14Å clays</a></li>
						<li><a href="#/detail/mineralogy/908">Kaolinite</a></li>
					</ul>
				</li>
				<li><a href="#/detail/mineralogy/909">Total Carbonates</a>
					<ul>
						<li><a href="#/detail/mineralogy/910">Calcite</a></li>
						<li><a href="#/detail/mineralogy/911">Dolomite</a></li>
						<li><a href="#/detail/mineralogy/912">Aragonite</a></li>
					</ul>
				</li>
				<li><a href="#/detail/mineralogy/913">Total Zeolites</a>
					<ul>
						<li><a href="#/detail/mineralogy/914">Heulandite</a></li>
						<li><a href="#/detail/mineralogy/915">Analcime</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="column medium-6 large-6">
			<ul class="mineralogy">
				<li><a href="#/detail/mineralogy/916">Hornblende</a></li>
				<li><a href="#/detail/mineralogy/917">Pyroxene</a></li>
				<li><a href="#/detail/mineralogy/918">Gibbsite</a></li>
				<li><a href="#/detail/mineralogy/919">Gypsum</a></li>
				<li><a href="#/detail/mineralogy/920">Hematite</a></li>
				<li><a href="#/detail/mineralogy/921">Pyrite</a></li>
				<li><a href="#/detail/mineralogy/922">Talc</a></li>
				<li><a href="#/detail/mineralogy/923">Serpentine</a></li>
				<li><a href="#/detail/mineralogy/924">Other minerals</a></li>
				<li><a href="#/detail/mineralogy/925">Amorphous</a></li>
			</ul>
		</div>
	</div>
</div>
