<div class="">
	<h1 class="tac maintitle">MINERALOGY</h1>

	<div class="row">
		<div class="column medium-6 large-6">
			<ul class="mineralogy">
				<li><a href="#/detail/mineralogy/901">Quartz</a></li>
				<li><a href="#/detail/mineralogy/901">Total Feldspars</a>
					<ul>
						<li><a href="#/detail/mineralogy/901">Pottasium feldspar</a></li>
						<li><a href="#/detail/mineralogy/901">Plagioclase</a></li>
					</ul>
				</li>
				<li><a href="#/detail/mineralogy/901">Total Clays</a>
					<ul>
						<li><a href="#/detail/mineralogy/901">Total 10Å clays</a></li>
						<li><a href="#/detail/mineralogy/901">Total 14Å clays</a></li>
						<li><a href="#/detail/mineralogy/901">Kaolinite</a></li>
					</ul>
				</li>
				<li><a href="#/detail/mineralogy/901">Total Carbonates</a>
					<ul>
						<li><a href="#/detail/mineralogy/901">Calcite</a></li>
						<li><a href="#/detail/mineralogy/901">Dolomite</a></li>
						<li><a href="#/detail/mineralogy/901">Aragonite</a></li>
					</ul>
				</li>
				<li><a href="#/detail/mineralogy/901">Total Zeolites</a>
					<ul>
						<li><a href="#/detail/mineralogy/901">Heulandite</a></li>
						<li><a href="#/detail/mineralogy/901">Analcime</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="column medium-6 large-6">
			<ul class="mineralogy">
				<li><a href="#/detail/mineralogy/901">Hornblende</a></li>
				<li><a href="#/detail/mineralogy/901">Pyroxene</a></li>
				<li><a href="#/detail/mineralogy/901">Gibbsite</a></li>
				<li><a href="#/detail/mineralogy/901">Gypsum</a></li>
				<li><a href="#/detail/mineralogy/901">Hernatite</a></li>
				<li><a href="#/detail/mineralogy/901">Pyrite</a></li>
				<li><a href="#/detail/mineralogy/901">Amorphous</a></li>
				<li><a href="#/detail/mineralogy/901">Talc</a></li>
				<li><a href="#/detail/mineralogy/901">Serpentine</a></li>
				<li><a href="#/detail/mineralogy/901">Other mineralogys</a></li>
				<li><a href="#/detail/mineralogy/901">Amorphous</a></li>
			</ul>
		</div>
	</div>
</div>
