@import 'mixins.less';
@import 'helpers.less';
@import 'entypoIcons.less';
@import url(http://fonts.googleapis.com/css?family=News+Cycle|Josefin+Sans|Alegreya+Sans|Sintony|Belleza|Lato);

@mainFont: 'Lato';
// @mainFont: 'News Cycle';
// @mainFont : 'Josefin Sans';
// @mainFont : 'Alegreya Sans';
// @mainFont : 'Sintony';
// @mainFont : 'Belleza';
*{
	font-family: @mainFont;
}
body{
	width: 100%;
	height: 100%;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
}
a{
	text-decoration: none;
}
[ng-view]{
	width: 100%;
	height: 100%;
}
#home{
	width: 100%;
	height: 100%;
	background: url(../img/mainhomebg.png);
	background-size: cover;
	h1{
		color:white;
		margin-top: 9em;
	}
	.buttons {
		margin-top: 3em;
		a{
			padding: 0.5em 1em 1em;
			border: 2px solid #FFF;
			color: #FFF;
			font-weight: bold;
			text-decoration: none;
			&:hover{
				background: white;
				color:black;
			}
		}
	}
}
#mainMenu{
	width: 200px;
	height: 100%;
	position: absolute;
	background: black;
	z-index: 20;
	.transition(all .2s ease-out);
	.transform(translateX(-200px));
	&.open{
		.transform(translateX(0px));
	}
	.usgslogo{
		margin: .9rem auto;
		width: 60%;
		display: block;
	}
	.menuBtn{
		@sz:3rem;
		width: @sz;
		top: 0;
		right: @sz*-1;
		height: @sz;
		background: black;
		color:white;
		display: block;
		text-align: center;
		line-height: @sz;
		font-size: 4.2rem;
		position: absolute;
	}
	ul{
		margin: 0;
		padding: 0;
		margin-top: 3rem;
		li{
			list-style: none;
			font-weight: bold;
			text-align: center;
			margin: 1rem;
			a{
				padding: 0.5em 1em 1em;
				border: 2px solid #FFF;
				color: #FFF;
				font-weight: bold;
				text-decoration: none;
				display: block;
				&:hover{
					background: white;
					color:black;
				}
			}
		}
	}
}

/*PERIODIC TABLE*/
[mb-periodic-table]{
	@w:1000px;
	width: @w;
	height: auto;
	margin: 0 auto;
	.element, .empty{
		@margin:1px;
		width: (@w/18)-(@margin*2);
		margin: @margin;
		float: left;
		box-sizing:border-box;
	}
	.empty{
		height: 40px;
	}
	.element{
		height: @w/18;
		background: #F8F8F8;
		position: relative;
		text-align: center;
		&.hasData{
			background: #20E9A9;
			.transform(translate3d(0,0,0));
			.transition(all .2s ease-out);
			&:hover{
				.transform(scale(1.2));
				z-index: 10;
			}
			.number, .small{
				color:white;
				font-weight: bold;
			}
		}
		.number{
			position: absolute;
			top: 0.2em;
			left: 0.2em;
			color: darken(#F8F8F8, 30%);
			font-size: .1em;
		}
		.name{
			text-align: center;
			font-size:10px;
			margin-top: 0.6em;
		}
		.small{
			margin-top: 0.4em;
			font-size: 1.5em;
		}
	}
}

/*detail view*/
.detail-view{
	width: 100%;
	height: 100%;
	min-width: 100px;
	min-height: 630px;
	background: fade(white, 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	.transition(all .2s ease-out);
	h1{
		font-size: 3rem;
	}
	.main-interaction{
		width: 890px;
		height: 550px;
		margin: 0 auto;
		position: relative;
		.maps-containter{
			width: 660px;
			height: 480px;
			position: absolute;
			top: 0;
			left: 0;
			.map-item{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		.terrainBox {
			width:178px;
			position:absolute;
			top: 60px;
			right: 18px;
			z-index:5;
			.horizons{
				width:230px;
				left:0px;
				position: absolute;
			}
			.horizonA {
				height:81px;
				background:url(../img/horizon-A.png) no-repeat;
				line-height: 79px;
				text-indent: 131px;
				top:0px;
				opacity:1
			}
			.horizonB {
				height:92px;
				background:url(../img/horizon-B.png) no-repeat;
				line-height: 92px;
				text-indent: 129px;
				top:50px;
				opacity:0.5
			}
			.horizonC{
				height:92px;
				background:url(../img/horizon-B.png) no-repeat;
				line-height: 92px;
				text-indent: 129px;
				top:113px;
				opacity:0.5
			}
			.horizonMap{
				height:81px;
				background:url(../img/ovarlayMapIcon.png) no-repeat;
				line-height: 58px;
				text-indent: 129px;
				top:-39px;
				opacity:0.2
			}
		}
		.links{
			width: 200px;
			height: 100px;
			position: absolute;
			top: 350px;
			right: 0;
			.box-link{
				text-transform: uppercase;
				text-align: center;
				display: block;
				padding: 0.5em 1em 1em;
				border: 2px solid black;
				color: black;
				margin-bottom: 1rem;
				text-decoration: none;
				&:hover{
					background: black;
					color:white;
				}
			}
		}
	}
}